<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="English-Mapper">

	 
 	 

<select id="selectEnglishByEnglishNo" resultType="english">
	
	SELECT *
	FROM
	(SELECT ENGLISH,EN_MEAN,APPLICATION,APP_MEAN
	FROM english
	ORDER BY DBMS_RANDOM.RANDOM())
	WHERE ROWNUM = 1


</select>

</mapper>
